SUPABASE_URL=https://upnsdxnixignwrejztzr.supabase.co
REACT_APP_SUPABASE_URL=https://upnsdxnixignwrejztzr.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwbnNkeG5peGlnbndyZWp6dHpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTU5ODUsImV4cCI6MjA4OTUzMTk4NX0.9SOlCPGoO2MXlmtYUJtghJJ3SKsZY3I9pn7TlSsYXBE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwbnNkeG5peGlnbndyZWp6dHpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzk1NTk4NSwiZXhwIjoyMDg5NTMxOTg1fQ.TbDzO3Vz5Q5ZqfiLQ8-4DZHikjupUjbvQk_1pKqTkqw
PORT=1000
BUGHOUSE_SERVER_PORT=1000
FRONTEND_URL=http://localhost:1000
REACT_APP_BACKEND_URL=